rules_version = '2';

// Hàm kiểm tra quyền Admin trong Firebase Realtime Database
function isAdmin() {
  return exists(/users/admins/$(request.auth.uid));
}

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Cho phép đọc nếu đã đăng nhập
      allow read: if request.auth != null;
      // Chỉ Admin mới có quyền ghi
      allow write: if isAdmin();
    }
  }
}
